/* block level elements like div, section, main already takes full availbale width i.e; 100% while inline elements takes width in which they can adjust */

* {
  box-sizing: border-box; /* //it makes sure that the box adjust its height and width according to given margin and padding and does not increase height if margin and padding are provided like in content box(which is the default box-sizing) */
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

/**-----------------------*/
/*Main Navigation Section*/
/*-----------------------*/

.main-header {
  background: #2ddf5c;
  padding: 8px 16px;
}

.main-header__item {
  display: inline-block;
  vertical-align: middle; /*To put it and li items on the same line*/
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 88px);
  vertical-align: middle; /*To put it and nav-brand on the same line*/
}

.main-nav__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* @@display: inline-block is very helpful as it makes elements go inline and we can also apply style to thhem as they are block level which is not possible if the display is inline */
.main-nav__item {
  display: inline-block;
  margin: 0px 10px;
}

.main-nav__item > a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding-bottom: 10px;
}

.main-nav__item-cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item > a:hover,
.main-nav__item > a:active {
  color: white;
  border-bottom: 3px solid black;
}

.main-nav__item-cta a:hover,
.main-nav__item-cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}

/**------------------------*/
/*Product Overview Section*/
/*------------------------*/

#product-overview {
  background: url("freedom.jpg");
  height: 528px;
  padding: 10px;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
}

/**-----------------------*/
/*----Plans Section------*/
/*-----------------------*/

.section-title {
  color: #2ddf5c;
  text-align: center;
}

.plan {
  background-color: #d5ffdc;
  text-align: center;
  display: inline-block;
  padding: 16px;
  margin: 8px;
  vertical-align: middle;
  width: 30%;
}

.plan--highlighted {
  background-color: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  background-color: white;
  color: #19b84c;
  padding: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.plan__description {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__description li {
  margin: 16px 0px;
}

.plan__title {
  color: #0e4f1f;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.button:hover,
.button:active {
  color: #0e4f1f;
  background: white;
}

.button:focus {
  outline: none;
}

/**--------------------------------*/
/*-------Key-features Section------*/
/*---------------------------------*/

#key-features {
  background: #ff1b68;
  margin-top: 80px;
  padding: 16px;
}

#key-features .section-title {
  color: white;
  margin: 32px;
}

.key-features__list {
  list-style: none;
}

.key-feature__image {
  background: #ffcede;
  width: 128px;
  height: 128px;
  margin: auto;
  border: 2px solid #0e4f1f;
  border-radius: 50%;
}

.key-feature {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.key-feature__description {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 22px;
}

/**--------------------------------*/
/*----------Footer Section---------*/
/*---------------------------------*/

.main-footer {
  background: black;
  padding: 32px;
  margin-top: 48px;
}

.main-footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  text-decoration: none;
  color: white;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}
