/* block level elements like div, section, main already takes full availbale width i.e; 100% while inline elements takes width in which they can adjust */

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#product-overview {
  background: #ff1b68;
  width: 50%;
  height: 100%;
}

/* @@combinators */
#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
}

.section-title {
  color: #2ddf5c;
}
