/* block level elements like div, section, main already takes full availbale width i.e; 100% while inline elements takes width in which they can adjust */

* {
  box-sizing: border-box; /* //it makes sure that the box adjust its height and width according to given margin and padding and does not increase height if margin and padding are provided like in content box(which is the default box-sizing) */
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.backdrop {
  position: fixed;
  display: none;
  z-index: 101;
  width: 100vw;
  height: 100vh;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.48);
}

/*------------------------*/
/*Main Navigation Section*/
/*-----------------------*/

.main-header {
  width: 100%;
  position: fixed;
  background: #2ddf5c;
  padding: 0.5rem 1rem;
  z-index: 1;
  display: flex;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  height: 1.5rem;
  display: inline-block;
  vertical-align: middle;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.main-header__brand img {
  height: 100%;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 88px);
  vertical-align: middle; /*To put it and nav-brand on the same line*/
}

.main-nav__items {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* @display: inline-block is very helpful as it makes elements go inline and we can also apply style to them as they are block level which is not possible if the display is inline */
.main-nav__item {
  display: inline-block;
  margin: 0px 0.6rem;
}

.main-nav__item > a,
.mobile-nav__item > a {
  text-decoration: none;
  color: #0e4f1f;
  font-weight: bold;
  padding-bottom: 0.6rem;
}

.main-nav__item-cta a,
.mobile-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.main-nav__item > a:hover,
.main-nav__item > a:active {
  color: white;
  border-bottom: 3px solid black;
}

.main-nav__item-cta a:hover,
.main-nav__item-cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}

/*---------------------------------*/
/*----------Footer Section---------*/
/*---------------------------------*/

.main-footer {
  background: black;
  padding: 2rem;
  margin-top: 3rem;
}

.main-footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 1rem;
}

.main-footer__link a {
  text-decoration: none;
  color: white;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

/*------------------------*/
/*-----Button Styling-----*/
/*------------------------*/

.button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  padding: 8px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.button:hover,
.button:active {
  color: #0e4f1f;
  background: white;
}

.button:focus {
  outline: none;
}

/*---------------------------------*/
/*----------Side Nav Section-------*/
/*---------------------------------*/

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.open {
  display: block !important;
}
